@import "tailwindcss";

/* .app {
  text-align: center;
  padding: 40px;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle, #222 0%, #111 100%);
  color: white;
  height: 100vh;
}

.press-btn {
  font-size: 40px;
  padding: 20px 60px;
  margin-top: 40px;
  border: none;
  border-radius: 15px;
  background-color: #1e90ff;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.press-btn:hover {
  background-color: #63b3ff;
  transform: scale(1.05);
}

.result {
  margin-top: 30px;
  font-size: 20px;
  color: #f8f8f8;
} */
